.nav-links {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content:space-evenly;
    background-color: rgb(54, 69, 79);
    height: 70px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 100px;
    position: fixed;
    width: 100vw;
}
.header-button {
    padding: 5px;
    margin:20px;
    border-radius: 4px;
    font-family:Segoe UI;
    cursor: pointer;
    /* background-color: rgb(100, 100, 100); */
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: opacity, 0.15s,
        box-shadow 0.15s;

}
.header-buttons:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
}
.header-buttons:active {
    opacity: 0.6;
    box-shadow: 5px 5px 20px rgb(255, 255, 255);
}
.portfolio-name {
    font-size: 18px;
    font-weight: bold;
}



.home-div {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    place-items: center; 
    background-color: rgb(115, 194, 179);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.profile-picture {
    margin-top: 100px;
    width: 320px;
    border-radius: 160px;
    ;
}
.full-name{
    margin-top: 20px;
    font-size: 30px;
}
.bio {
    margin: 10px;
    font-size: 20px;
}



.about-div {
    /* text-align: center; */
    height: 120vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(115, 194, 179)
}
.h1about {
    text-align: center;
    margin-top: 80px;
    font-size: 50px;

}
.about-grid-container {
    display: grid;
    grid-template-columns:2fr 1fr ;
}
.about-grid {
    display: grid;
    grid-template-columns: auto auto;
    place-self:start;
    row-gap: 20px;
    column-gap: 20px;
    height: 300px;
    width: 800px;
    margin-left: 50px;
}
.hobbies-grid {
    display: grid;
    grid-template-columns: 50px 300px;
    height: 200px;
    background-color: rgb(31, 41, 55);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}
.about-icon {
    place-self: center;
}
.about-icon-desc {
    display: grid;
    grid-template-rows: 45px 1fr;
}
.hobbyname {
    padding: 10px;
    color: rgb(151, 146, 135);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.hobbydesc {
    padding: 10px;
    color: rgb(151, 146, 135);
    font-size: 20px;
    margin-left: 25px;
    margin-right: 5px;
}

.desc-myself {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.whoami {
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.about-skill {
    height: 420px;
    width: 300px;
    background-color: rgb(31, 41, 55);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.h1skills {
    text-align: center;
    margin-top: 20px;
    color: rgb(151, 146, 135);
}
.pskills {
    color: rgb(151, 146, 135);
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}




.education-div {
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(115, 194, 179);
}
.h1education {
    margin-top: 45px;
    font-size: 40px;
    margin-top: 80px;
}
.education-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;

}
.school-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 70px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;


}
.dlsl-education, .dlsl-certification {

    /* row-gap: 20px;
    column-gap: 20px; */
/* 
    margin: 20px; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
    background-color: rgba(65, 76, 92, 0.658);
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: grid;
    place-items: center;
    height: 100px;
    text-align: center;
}
.dlsl-education:hover, .dlsl-certification:hover {
    transform: scale(1.05);
}

.dlsl-education h2 {
    margin: 0 0 10px;
    font-size: 22px;
    color: #333;
}




.h1certifications {
    margin-top: 30px;
    font-size: 40px;
}
.certifications-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 70px;

    margin-left: 100px;
    margin-right: 100px;
    align-items: top;
}
.dlsl-certification h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}





.contact-div {
    margin-bottom:150px;
    margin-top:100px;
}
.h1-contact {
    text-align: center;
    align-items: center;
}
.contact-desc {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
    margin-top: 20px;
}

.social-links a {
    font-size: 40px;
    color: black; 
    transition: transform 0.3s ease-in-out, color 0.3s;
    text-decoration: none;
}

.social-links a:hover {
    color: #0073b1; 
    transform: scale(1.2);
}